@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}

img{
    width: 50%;
   box-shadow: 2px 2px 10px #eee;
}

h2 {
    margin-bottom: 20px;
    width: 100%;
    color: rgb(24, 24, 96);
    text-align: center;
}